/* Kontakt Page */
.contact-bg {
  height: 32vh;
  background-image: url("../images/contact/contact-banner.jpg");
  background-size: cover;
  background-position: center center;
}
.contact-img {
  width: 60%;
  margin: 2rem auto;
  display: block;
}
@media (min-width: 768px) {
  .contact-content {
    address {
      text-align: center;
    }
  }
  .contact-img {
    width: 300px;
  }
}
